---
title: "About Us - My Agency"
layout: "../../layouts/BaseLayout.astro"
---
<section>
  <h1 class="editable" id="about-title">About Us</h1>
  <p class="editable" id="about-text">Our agency has been serving families for over 20 years.</p>
</section>
