---
title: "Home - My Agency"
layout: "../../layouts/BaseLayout.astro"
---
<section>
  <h1 class="editable" id="home-title">Welcome to My Insurance Agency</h1>
  <p class="editable" id="home-text">We provide the best coverage for your family.</p>
</section>
